<div class="sentemail">
    <div class="imagecol">
        <img src="../../assets/10_MAN AND GIRL.svg" alt="">
    </div>
    <div class="messagecol">
        <div>
        <div class="hello">
        <p>Hello shashti ! </p>
        <p>Please activate this account.</p>
        </div>
        <div class="emailmessage">
            <p>
                We have sent an activation email to priyan+22@dreamcards.in.
            </p>
        </div>
    </div>
    <button (click)="toLogin()">toLogin Page</button>
</div>
</div>
